body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;  
    font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  width: 80vh;
 border: 4px dashed rgba(4, 4, 5, 0.1);
    min-height: 140px;
    padding: 32px;
    position: relative;
    border-radius: 16px;
    -webkit-box-align: center;
    align-items: left;
    -webkit-box-pack: center;
    justify-content: left;
    flex-direction: column;
    text-align:left;
    word-break: break-word;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 80%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
  margin: none;
}

#status {
  color:  #254cdd;
  font-size: 14px;
  font-weight: 600;
}

button {
  padding: 9px 16px;
  *box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);
  border-color:  #254cdd ;
  border: none;
  background: none;
  color:white;
  background-color: #254cdd;
  border-radius: 6px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
  font-family: Rubik, sans-serif;
}

#logo {
  float:left;
  display: flex;
  margin-left: -10px;
  margin-top: -16px;
  width: 210px;
}

#walletButton {
  padding: 7px 16px;
  background-color: white;
  float:right;
  border: 2px solid #254cdd ;
  color:#254cdd;
  margin-top: 0px;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
}
h2{
  display: block;
  clear:both;
  font-weight:400;
}

a {
  color:#254cdd
}

.swap-page {
  background-color: #252027;
  width: 100vw;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swap-wrapper {
  position: relative;
  width: 480px;
  height: 382px;
  background: rgb(25, 27, 31);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px, rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 24px;
  margin-top: 1rem;
  padding: 10px;
}
.swap-h2 {
  color: white;
}
.token-block {
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid rgb(44, 47, 54);
  background-color: rgb(33, 36, 41);
  width: initial;
  height: 101px;
  color: white;
  display: flex;
  padding: 16px;
}
.token-block + .token-block {
  margin-top: 5px;
}
.token-name {
  background-color: rgb(44, 47, 54);
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  height: 38px;
  width: 113px;
  line-height: 38px;
  display: inline-block;
}
.token-input {
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: rgb(33, 36, 41);
  color: white;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  appearance: textfield;
  text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.swap-btn {
  background-color: rgb(33, 114, 229);
  color: white;
  padding: 16px;
  width: 100%;
  height: 64px;
  font-weight: 500;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 450ms ease 0s;
  margin-top: 0;
  font-size: 20px;
}
.swap-btn:hover {
  background-color: rgb(25, 102, 212);
}
.rate {
  color: white;
  margin: 10px 0;
}
.swap-status {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  display: inline-block;
}